@import "../../src/styles/variables";

.container {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  background: #222;
  width: 100vw;

  a {
    height: 50px;
  }
}

.user {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 2px;
}
