@import "../../src/styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  background: rgb(82, 37, 76);
  width: 100vw;
  color: white;
  font-weight: bold;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    transition: all 0.2s linear;
    &:hover {
      background: rgb(126, 52, 116);
    }
  }
}
